{% extends "pages/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/debugger.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="/js/parameters_plot.js"></script>
{% endblock %}

{% block content %}
    <div class="card card-body" id="parameters">
        <div class="d-flex justify-content-center" id="plot_spinner">
            <div class="spinner-border" role="status">
                <span class="sr-only">Data should be around here somewhere...</span>
            </div>
        </div>
    </div>
    <button class="btn" id="temp-toggle">Temperature</button>
    <button class="btn" id="ph-toggle">pH</button>
{% endblock %}